[submodule "Letgen/vendor/spdlog"]
	path = Letgen/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Letgen/vendor/GLFW"]
	path = Letgen/vendor/GLFW
	url = https://github.com/mrLegenius/glfw
[submodule "Letgen/vendor/ImGui"]
	path = Letgen/vendor/ImGui
	url = https://github.com/mrLegenius/imgui
[submodule "Letgen/vendor/GLM"]
	path = Letgen/vendor/GLM
	url = https://github.com/g-truc/glm
[submodule "Letgen/vendor/yaml-cpp"]
	path = Letgen/vendor/yaml-cpp
	url = https://github.com/mrLegenius/yaml-cpp
[submodule "Letgen/vendor/ImGuizmo"]
	path = Letgen/vendor/ImGuizmo
	url = https://github.com/mrLegenius/ImGuizmo
