[submodule "Letgen/vendor/spdlog"]
	path = Letgen/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Letgen/vendor/GLFW"]
	path = Letgen/vendor/GLFW
	url = https://github.com/mrLegenius/glfw
